
* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

.content {
    flex: 1 0 auto;
    background: linear-gradient(180deg, rgb(21, 56, 34) 0%, rgb(12, 119, 28) 89%);

}

h3 {
    font-size: 38px;
    font-weight: 400;
}

p {
    font-weight: 300;
}

hr {
    width: 80%;
    margin: 0 auto;
    color: lightgray;
    border-color: lightgray;
    background: lightgray;
}

header, footer {
    padding: 30px 100px !important;
    background: white;
    color: black;
}

.content-wrapper {
    padding: 60px 100px;
}


.content-wrapper p {
    margin-top: .5rem;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 20px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: black;
}
.logo {
    margin-right: 50px;
}

img {
    width: 250px;
    height: 300px;
    border-radius: 50%;
}


.main {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main h1 {
    font-size: 68px;
    font-weight: 400;
    padding-bottom: 150px;
}

.main button {
    margin-top: 16px;
    height: 52px;
    width: 192px;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;

}

.doc {
    margin-top: 10px;
    max-width: 60%;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 20px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

footer a svg {
    margin-top: 10px;
}

.impressum {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.impressum ul li {
    opacity: 0.5;
    list-style: none;
}
